# * tells git to ignore everything.

# !*/ then unignores anything that is a directory. This is crucial.

# !*.* unignores all files with an extension.
# *
# !*/
# !*.*

# other ignore rules
_putchar.c
0x14-bit_manipulation/README.MD
